<p id="notice"><%= notice %></p>

Your name:              <%= @user.name %> <br/>
Your current latitude:  <%= @user_location.lat %> <br/>
Your current longitude: <%= @user_location.lng %> <br/>
Your current IP:        <%= @ip %> <br/>
<br/>
<%= "#{@user.name}'s nearest #{pluralize(@nearest.size, "landmark")}:" %> <br/>
<%= "#{@user.name}'s last #{pluralize(@last_10.size, "location")}:" %>
<%= link_to "JSON", "/my_recent.json" %>, 
<%= link_to "XML", "/my_recent.json" %>